@charset "UTF-8";

a {
   text-decoration: none;
}

a:link {
   color: rgb(135, 45, 90);
}

a:visited {
   color: rgb(45, 90, 135);
}

a:hover {
   bottom: 1px;
   position: relative;
   text-decoration: underline;
}

a:active {
   color: rgb(75, 75, 120);
}

body {
   background-color: rgb(245, 250, 255);
   color: rgb(0, 30, 60);
   font-family: Palatino, "Palatino Linotype", "Century Schoolbook", Perpetua, Baskerville, Garamond, Georgia, "Goudy Old Style", Didot, Bodoni, serif;
   margin-left: 10%;
   margin-right: 10%;
}

code {
   border-color: rgb(165, 210, 255);
   border-style: solid;
   border-width: 1px;
   font-family: Consolas, monospace;
   font-size: 300%;
   margin: 1px;
   padding: 1px;
}

h1 {
   color: rgb(90, 0, 45);
}
