@charset "UTF-8";

:root {
   --monospace: Inconsolata, Consolas, "Andale Mono", AndaleMono, monospace;
   --serif: Palatino, "Palatino Linotype", "Century Schoolbook", Perpetua, Baskerville, Garamond, Georgia, "Goudy Old Style", Didot, Bodoni, serif;
   color-scheme: dark light;
}

a {
   text-decoration: none;
}

a:link {
   color: light-dark(
      rgb(135, 45, 90),
      rgb(210, 120, 165)
   );
}

a:visited {
   color: light-dark(
      rgb(45, 90, 135),
      rgb(120, 165, 210)
   );
}

a:hover {
   bottom: 1px;
   position: relative;
   text-decoration: underline;
}

a:active {
   color: light-dark(
      rgb(75, 75, 120),
      rgb(150, 150, 195)
   );
}

body {
   background-color: light-dark(
      rgb(245, 250, 255),
      rgb(0, 30, 60)
   );
   color: light-dark(
      rgb(0, 30, 60),
      rgb(245, 250, 255)
   );
   font-family: var(--serif);
   margin-left: 10%;
   margin-right: 10%;
}

code {
   border-color: light-dark(
      rgb(165, 210, 255),
      rgb(15, 60, 105)
   );
   border-style: solid;
   border-width: 1px;
   font-family: var(--monospace);
   font-size: 300%;
   margin: 1px;
   padding: 1px;
}

h1 {
   color: light-dark(
      rgb(90, 0, 45),
      rgb(240, 180, 210)
   );
}
